body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.bunner{
  width: 100%;
  height: 100vh;
  background: url('https://wallpaperaccess.com/full/187161.jpg') center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.carddo{
  width: 600px;
  height: 400px;
  background: url('https://besthqwallpapers.com/Uploads/24-11-2019/113149/thumb2-you-can-do-it-creative-art-motivation-quotes-inspiration-pink-background.jpg') center / cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
.cardback{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cardback button{
  width: 20%;
  height: auto;
}
.cardback button img{
  padding-top: 5px;
  width: 100%;
  height: 100px;
}
.cardtext{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cardtext button{
  width: 20%;
  height: auto;
  padding: 10px;
  background-color: aquamarine;
}
.cardres h1{
  text-align: center;
  padding-top: 150px;
  color: white;
}
.cardres{
  width: 600px;
  height: 400px;
}
